## Ignore STM32 CubeIDE temporary files and build results
# 

#Build Directories
[Dd]ebug/
[Rr]elease/

#Build Results
*.o
*.eep
*.elf
*.hex
*.map
*.mk
*.su
*.bin

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug/

#Block Metadata
*.metadata

#User Specific Files
*.launch
/.settings
/Core/Inc/revision.h